<form [formGroup]="register" (ngSubmit)="signup()">
  <label for="name">Name</label><br>
  <input type="text" name="name" formControlName="name"><br>
  <label for="email">Email</label><br>
  <input type="text" name="email" formControlName="email"><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" formControlName="password"><br>
  <label for="confirmPassword">Confirm password</label><br>
  <input type="password" name="password_confirmation" formControlName="password_confirmation"><br>
  <button type="submit">Send</button>
</form>