<!-- <h1>{{ "Welcome!" | uppercase }}</h1>
<article>
  <h2>{{ "Article n.o.1" | uppercase }}</h2>
  <p>
    Hello there!
  </p>
  <p>{{ today | date:"medium" }}</p>
</article>

<article>
  <h2>{{ "User no. 2" | uppercase }}</h2>
  <button type="button" (click)="login()">Login</button>
  <button type="button" (click)="getUser()">Get user</button>
  <ul>
    <li>User name: {{user2.name}}</li>
    <li>User name: {{user2.email}}</li>
  </ul>
  <p>{{ today | date:"medium" }}</p>
</article> -->

<a routerLink="/" routerLinkActive="active">Home</a>
<a routerLink="/login" routerLinkActive="active">Login</a>
<a routerLink="/signup" routerLinkActive="active">Signup</a>

<!-- <app-recipe-api></app-recipe-api> -->
<router-outlet></router-outlet>