<input type="text" placeholder="Search.." [(ngModel)]="searchquery">

<label for="mealTypes">Choose a meal type:</label>  <!-- Fungerar ej!-->
<select id="mealTypes">
  <option value="breakfast" *ngFor="let recipe of allRecipes">{{recipe.mealType}}</option>
</select>

<button type="button" (click)="getRecipes()">Get recipes!</button>

<!-- <article *ngFor="let recipe of allRecipes">
  <h2>{{recipe.label}}</h2>
  <img [src]="recipe.image" [alt]="recipe.label">
  <p>Ingredient:</p>
  <ul>
    <li *ngFor="let ingredient of recipe.ingredientLines">
      {{ingredient}}
    </li>
  </ul>
</article> -->


<div class="flex w-full flex-wrap"> <!-- Fixa länk! -->
      <a href="" class="h-auto max-w-full w-60" *ngFor="let recipe of allRecipes">
      <img class="rounded-lg" [src]="recipe.image" [alt]="recipe.label">
      <h2>{{recipe.label}}</h2>
      </a>
</div>