<!-- <form #signupForm="ngForm" (ngSubmit)="login()">
  <label for="email">Email</label><br>
  <input type="text" name="email" ngModel><br>
  <label for="password">Password</label><br>
  <input type="text" name="password" ngModel><br>
  <input type="submit" value="Login">
</form> -->

<form [formGroup]="loginForm" (ngSubmit)="login()"> <!-- (ngSubmit)="login()" -->
  <label for="email">Email</label><br>
  <input type="text" name="email" formControlName="email"><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" formControlName="password"><br>
  <button type="submit">Login</button>
</form>

<div>
  <p>Don't have an account?</p>
      <button [routerLink]="['/register']">Sign up</button>
  </div>